body{
    padding: 100px 200px;
    background-image: url("assets\login-page\login.mp4");
}

#login-form h1{
    text-align: center;
}

#take-input{
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    margin: 50px;
    padding: 40px;
}

.form-control{
    border: 1px solid purple;
}

#home{
    display: none;
}

.status{
    margin: 0px 20px;
    text-align: center;
    padding: 20px 0px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.deposit{
    background-color: rebeccapurple;
}

.withdraw{
    background-color: yellowgreen;
}

.cash{
    background-color: brown;
}